body {
  line-height: 1.4;
  font-size: 16px;
  padding: 0 10px;
  margin: 50px auto;
  max-width: 650px;
}

h3 {
  margin-bottom: 4px;
}

.top-nav {
  flex-direction: row;
}

#maincontent {
  max-width: 36em;
  margin: auto;
  margin-top: 70px;
}

.note {
  font-style: italic;
  font-size: 0.9em;
}

.no-underline:link,
.no-underline:visited {
  text-decoration: none;
  color: inherit;
}

.no-underline:hover,
.no-underline:focus {
  text-decoration: none;
}

.members-list {
  margin-top: 0;
}
